In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from fastparquet import ParquetFile

In [3]:
file_path = "Data/train_ai_comp_final_dp.parquet"
pf = ParquetFile(file_path)
df = pf.to_pandas()
df.head()

,id,target,sample_ml_new,feature1,feature2,feature3,feature4,feature5,feature6,feature7,...,feature1067,feature1068,feature1069,feature1070,feature1071,feature1072,feature1073,feature1074,feature1075,feature1076
0,0,0,1,1761,1759,85,105469,191,46,0,...,28913,48985,84264,12045,12107,12510,21126,28913,48985,84264
1,1,0,1,1761,1759,120,105610,144,71,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,1,890,1759,141,105227,191,11,0,...,55949,70006,113317,33735,31242,12691,48682,55949,70006,113317
5,5,0,1,1599,966,30,102441,191,8,0,...,0,6872,8530,0,0,0,0,0,6872,8530
6,6,0,1,1761,1759,85,104006,191,2,0,...,0,0,7642,0,0,0,0,0,0,7642

In [4]:
df.describe()

,id,target,sample_ml_new,feature1,feature2,feature3,feature4,feature5,feature6,feature7,...,feature1067,feature1068,feature1069,feature1070,feature1071,feature1072,feature1073,feature1074,feature1075,feature1076
count,519615.000000,519615.000000,519615.0,519615.000000,519615.000000,519615.000000,519615.000000,519615.000000,519615.000000,519615.000000,...,519615.000000,519615.000000,519615.000000,519615.000000,519615.000000,519615.000000,519615.000000,519615.000000,519615.000000,519615.000000
mean,346719.616297,0.035674,1.0,1578.921015,1308.410059,76.305130,94386.514377,139.003685,41.424410,35.771227,...,7200.840365,13172.209817,26496.441469,2915.599988,3018.929802,3278.940904,5142.696679,7200.840365,13172.209817,26496.441469
std,200003.314087,0.185477,0.0,315.711163,660.446967,44.797241,22230.941664,74.734122,40.463193,56.144121,...,17892.604226,27943.888849,45663.346437,8948.724876,9129.809167,9669.071467,13822.903288,17892.604226,27943.888849,45663.346437
min,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,173594.500000,0.000000,1.0,1600.000000,769.000000,37.000000,97557.000000,63.000000,12.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,347002.000000,0.000000,1.0,1668.000000,1759.000000,76.000000,102538.000000,191.000000,31.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,519978.500000,0.000000,1.0,1761.000000,1759.000000,117.000000,104624.000000,191.000000,63.000000,125.000000,...,0.000000,5823.000000,35789.500000,0.000000,0.000000,0.000000,0.000000,0.000000,5823.000000,35789.500000
max,693042.000000,1.000000,1.0,1761.000000,1759.000000,141.000000,106448.000000,191.000000,284.000000,125.000000,...,83903.000000,117161.000000,168455.000000,49909.000000,50250.000000,51714.000000,69081.000000,83903.000000,117161.000000,168455.000000

In [5]:
df.head()

,id,target,sample_ml_new,feature1,feature2,feature3,feature4,feature5,feature6,feature7,...,feature1067,feature1068,feature1069,feature1070,feature1071,feature1072,feature1073,feature1074,feature1075,feature1076
0,0,0,1,1761,1759,85,105469,191,46,0,...,28913,48985,84264,12045,12107,12510,21126,28913,48985,84264
1,1,0,1,1761,1759,120,105610,144,71,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,1,890,1759,141,105227,191,11,0,...,55949,70006,113317,33735,31242,12691,48682,55949,70006,113317
5,5,0,1,1599,966,30,102441,191,8,0,...,0,6872,8530,0,0,0,0,0,6872,8530
6,6,0,1,1761,1759,85,104006,191,2,0,...,0,0,7642,0,0,0,0,0,0,7642

In [6]:
(df.dtypes).value_counts()

int64      1077
float64       2
Name: count, dtype: int64

In [7]:
df.columns[df.isna().any()]

Index(['feature642', 'feature756'], dtype='object')

In [8]:
df = df.drop('feature756', axis=1)

In [9]:
name_categ = df.columns[df.max() - df.min() <= 1]

In [10]:
df_categ = df[name_categ]

df_categ

,target,sample_ml_new,feature68,feature69,feature144,feature160,feature245,feature292,feature384,feature385,...,feature1025,feature1026,feature1027,feature1028,feature1029,feature1030,feature1031,feature1032,feature1033,feature1034
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693036,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
693038,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
693039,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
693040,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
693042,1,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
np.unique(df_categ)

array([ 0.,  1., nan])